<h2>Create New Song</h2>



<form action="/songs" method="POST">

    <label>Song:</label>
    <br>
    <input type="text" name="song[name]" id= "name">
    <br>

  <input type="submit" value="Create New Song">
</form>