<h2>Create New Song</h2>



<form action="/songs" method="POST">

    <label>Song:</label>
    <br>
    <input id= "name" type="text" name="song[name]" >
    <br>

  <input type="submit" value="Create New Song">
</form>